@import 'mixin';

.slide4 {
  display: flex;
  &-left {
    background-color: #000000;
    width: 720px;
    padding-top: 170px;
    &-pre {
      margin-left: 100px;
      @include text-style(14px, #c0c0c0);
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    &-title {
      margin: 6px 0 0 100px;
      @include text-style(32px, #ffffff);
    }
    &-description {
      width: 514px;
      margin: 15px 0 0 100px;
      text-align: left;
      @include text-style(14px, #ffffff);
    }
    &-btn {
      display: flex;
      margin: 20px 0 153px 100px;
      padding: 10px 10px 10px 10px;
      align-items: center;
      background-color: #ffffff;
      @include text-style(16px, #000000);
      letter-spacing: 0.4px;
      border-radius: 40px 40px 40px 40px;

      &:hover {
        color: red;
        cursor: pointer;
        text-shadow: 1px 1px 1px red;
      }
    }
  }
  &-right {
    background: url('../img/camera.jpg');
    width: 720px;
    &-sub {
      text-align: right;
      padding-top: 483px;
      &-time {
        margin-right: 40px;
        &::after {
          content: "0,8''";
          position: absolute;
          margin-left: 5px;
          @include text-style(12px, #ffffff);
        }
      }
      &-circle {
        margin-right: 50px;
        &::after {
          content: 'f/5,6';
          position: absolute;
          margin-left: 5px;
          @include text-style(12px, #ffffff);
        }
      }
      &-iso {
        margin-right: 40px;
        &::after {
          content: '100';
          position: absolute;
          margin-left: 5px;
          @include text-style(12px, #ffffff);
        }
      }
      &-map {
        margin-right: 90px;
        &::after {
          content: 'Sweden';
          position: absolute;
          margin-left: 5px;
          @include text-style(12px, #ffffff);
        }
      }
    }
  }
}
